<!-- <div class="container"> -->
<h1>Pacientes</h1>



  <%= link_to 'Novo Paciente', new_paciente_path, class: "btn btn-medium btn-default" %>
<br>
<br>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Nome</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @pacientes.each do |paciente| %>
      <tr>
        <td><%= link_to paciente.nome, paciente %></td>
        <!-- <td><%= link_to 'Exibir', paciente %></td> -->
        <td><%= link_to 'Novo Agendamento', controller: "medicos", action: 'seleciona_medico', paciente_id: paciente.id, paciente_nome: paciente.nome %></td>
        <td><%= link_to 'Editar', edit_paciente_path(paciente) %></td>
        <td><%= link_to 'Excluir', paciente, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<!-- </div> -->



