<div class="container">
		<form id="form_seleciona_medico" method="get" class="form-horizontal" role="form" action="/agendamentos/seleciona_horarios">
			<%= hidden_field_tag :authenticiy_token, form_authenticity_token %>
			<div class="form-group">
				<label class="control-label col-md-2">Paciente:</label>
				<div class="col-md-10">
					
					<input type="hidden" name="paciente_id" value=<%= @paciente_id %> />
					<p class="form-control-static"><%= @paciente_nome %></p>
				</div>
				
				<label class="control-label col-md-2">Médico:</label>
				<div class="col-md-10">
				
					<select class="form-control" id="select_seleciona_medico" name="medico_id"  required>
						<option value="">--- Selecione um médico ---</option>

						<%= @medicos.each do |medico| %>
							<option value=<%= medico.id %> > <%=medico.nome %> </option>
						<% end %>
						
					</select>
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-10 col-md-offset-2"> 

					<button type="submit" class="btn btn-primary">Avançar</button>
				</div> 
			</div>
		</form>
	</div>
	<script src="/assets/valida_select_medico.js" ></script>
	
